   <!--dao hang lan xia de bu fen-->
   <div class="col-md-6">
        <a href=""><img src="/static/img/logo3.jpg"></a>
    </div>
    <div class="col-md-6">
            <ul class="nav navbar-nav nav-tabs">
                <li class="active"><a href="#">综合</a></li>
                <li><a href="#">图片</a></li>
                <li><a href="#">问答</a></li>
                <li><a href="#">视频</a></li>
                <li><a href="#">附件</a></li>
            </ul>
        <ul style="padding:0">
            <form class="form-horizontal" action="" method="post">
                <div class="form-group">
                    <div class="col-sm-7" style="margin:0;padding-right:0">
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-sm-1" style="padding:0">
                        <input type="submit" class="btn" value="搜索" />
                    </div>
                </div>
            </form>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="row" style="overflow:auto;background-color:#00FF00">
        <ul class="nav col-md-offset-2">
            <li class="col-md-2 active"><a href="#"><div style="text-align:center">首页</div></a></li>
            <li class="col-md-2"><a href="#"><div class="navigate">信息公开</div></a></li>
            <li class="col-md-2"><a href="/supervision"><div class="navigate">交通监督</div></a></li>
            <li class="col-md-2"><a href="#"><div class="navigate">警民互动</div></a></li>
            <li class="col-md-2"><a href="#"><div class="navigate">安全宣传</div></a></li>
        </ul>
    </div>
   <script>
        $('ul.nav > li').click(function (e) {
            e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');
        });

   </script>